body {
  background-color: #D4E6B5;
  color: #3F612D;
  .pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}
;
  font-size: 16px;
}
h1, h2 {
  .roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
}
h1  {
  color: #001F54;
  font-size: 32px;
  font-weight: 700;
}
h2 {
  color: #001F54;
  font-size: 24px;
  font-weight: 400;
}
a{
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	color: blue;
	font-weight: bold;
}
a:hover {
	color: #001F54;
}
.container {
	width: 700px;
	margin: 40px auto;
}
@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}
@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}
.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color: blue;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue: hover {
	background-color: black;
	color: white;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50 px;
}
#introduction p {
	margin-bottom: 40px;
}